* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/* ------------Header start ------------*/
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  /* border-bottom: 1px solid #e5e5e5; */
  align-items: center;
  margin: auto;
  width: 98%;
  padding: 1%;
  /* height: 60px; */
}
#start {
  display: flex;
  width: 10%;
  flex-direction: row;
  align-items: center;
}
.ytub-logo {
  cursor: pointer;
}
.fa-bars {
  font-size: 25px;
  margin-right: 10px;
}
.country-code {
  vertical-align: super;
}
.ytd-topbar-logo-renderer {
  color: var(--yt-spec-text-secondary);
  margin: -13px 0 0 -6px;
  padding: 0px;
  font-size: 10px;
}

#center {
  display: flex;
  flex-direction: row;    align-items: center;
}
.input-Box {
  border-radius: 20px 0px 0px 20px;
  width: 30rem;
  height: 2.6rem;
  padding: 7px 0px 7px 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 5px 1px #e5e5e5;
  font-size: 1rem;
  color: gray;
  border: none;
  outline: none;
}

.glass {
  height: 2.6rem;
  background-color: #f0f0f0;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 5px 1px #e5e5e5;
  padding: 10px 40px;
  border-radius: 0px 20px 20px 0px;
}

.microphone {
  padding: 12px 15px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #f3eaea;
  font-size: 18px;
}

#right {
  width: 13%;
  display: flex;
  justify-content: space-between;
}
.youtube img {
  width: 2.5rem;
  height: 2.5rem;
}

#right-image img {
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
}
#right {
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.youtube img {
    padding: 7px 9px 5px 9px;
  font-size: 18px;
}
.fa-bell {
  padding: 5px 8px 5px 8px;
}
.right-image img {
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
}
/* ---------- tooltip ---------- */

.glass,
.microphone,
.youtube,
.notification {
  position: relative;
    cursor: pointer;
    display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #808080;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 3.5rem;
  left: 0rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.menuIcon{
  padding: 1%;
}
.microphone:hover ,.notification:hover,.youtube:hover , .menuIcon:hover{
    border-radius: 50%; 
    background-color: #d0cdcd38;
}

.microphone:hover .tooltiptext,
.notification:hover .tooltiptext,
.glass:hover .tooltiptext,
.youtube:hover .tooltiptext {
  visibility: visible;
 
}

/* ------------Header end ------------*/
/* -- ----side-navbar-start -- */
#container-center{
  display: flex;
  flex-direction: row;
  }
.navbar-left {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: 18%;
    height: 100vh;
    box-shadow: 0px 0px 10px 5px rgb(243 242 242);
  }
  .side-nav-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .nav-item {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0.8rem;
    font-size: 1.1rem;
  }
  .nav-item a {
    text-decoration: none;
    color: #515151;
  }
  .nav-item:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }
  .nav-item a:active {
    color: black;
  }
  .nav-icon {
    padding-right: 1.5rem;
    padding-left: 1rem;
    color: #515151;
  }
  h3 {
    color: #515151;
    margin-left: 1rem;
    padding: 1rem 0rem 0.5rem 0rem;
  }
  .para {
    color: #515151;
    margin-left: 0.5rem;
    padding: 1rem 0rem 0.5rem 0rem;
    font-size: 1rem;
  }
  .paar {
    color: #b5b5b5;
    margin-left: 0.5rem;
    padding: 1rem 0rem 0.5rem 0rem;
  }
  /* -- ----side-navbar-end -- */

  /* main section start */
  .ytd-postn-rel-abu{
    height: 100vh;
      width: 82%;
      padding: 0.9rem 0rem;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      margin: 5px 10px;
      overflow: auto;
    }

    .ytub-btn {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border-radius: 15px;
        border: 1px solid #e5e5e5;
        box-shadow: 1px 1px 5px 1px #e5e5e5;
        margin: 5px 0 10px 18px;
      }
      .ytub-btn a {
        
        text-decoration: none;
        color: #000000;
      }
      .ytub-btn:hover{
        background-color: #242424;
        color: #ffffff;
        cursor: pointer;
      }
      button a:hover {
        background-color: #242424;
        color: #ffffff;
        cursor: pointer;
      }
      
    /* button ending */
    /* ----iframe-start------------- */
.video {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
background-color: #f9f9f9;
}
.iframe {
  width: 32%;
  height: 20.5rem;
}
iframe {
  padding: 5px;
  width: 370px !important;
  height: 240px !important;
  border-radius: 20px;
}
.iframe a {
color: #242424;
text-decoration: none;
}
.bottom-part {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 3px 30px;
margin: 0px 0px 5px 5px;
width: 390px;
justify-content: space-evenly;
}
.bottom-part img {
border-radius: 50%;
}
.bottom-part .icon {
font-size: 40px;
color: #b5b5b5;
}
.para-items {
font-size: 15px;
}
.items .channel,
span {
color: #b5b5b5;
font-size: 14px;
}
.items {
margin-left: 5px;
padding-left: 5px;
}
/* iframe ending */