/* .links {
  text-decoration: none;
  color: #8a578b;
} */
.position-fixed{
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #2874F0 !important;
  width: 100%;    height: 4rem;
}
.bg_body_tertiary{
  background-color: #2874F0 !important;   
}
.navbar-nav{
  align-items: center;
}
.me-auto-left{
  flex-direction: column !important;
  padding: 0 !important;
}
.plus{
  width: 13%;
  margin-bottom: 7%;
}
.me-auto-nav{
  padding: 0 !important;
  font-size: 12px !important;
}
.colorE{
  color: #FFF;    padding-left: 8%;
}
.colorP{
  color: yellow;
}
.me-auto_items .nav_items , #basic-nav-dropdown{
  color: #FFF;
}

.input-box{
  width: 40% !important;
}
.cart_count{
width: 2rem;
position:relative ;
height: 2rem;
}
.cart{
  color: #FFF;
  font-size: 1.5rem;
}
.cart_count p{
  bottom: 57%;
  margin-bottom: 0 !important;
  left: 25%;
  font-size: 12px;
  background-color: #FF6161;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2% 6% 0 0%;
  position: absolute;
  color: #FFF;
}
.dateClass{
  background-color: rgb(224, 213, 213);
  border-radius: 30px;
  padding: 0.5rem;
  margin-bottom: 0 !important;
  width: 10rem;
}.loginImage{
  width: 2.5rem;
  height: 2.5rem;
}
.loginPara{
  margin: .5rem 0;
  font-weight: 500;
padding: 10px;
} 