*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Footer{
    text-align: center;
}
.para-footer{
    position: fixed;
    /* top: 124%; */
    bottom: 4%;
    /* text-align: center; */
    width: 100%;
    color: gray;
}