.selected_product_container{
  display: flex;
  width: 90%;
  height: 28rem;
  border-radius: 5px;
  margin: 3% auto;
  padding: 1%;
}
.selected_product_container .image_container{
    width: 45%;
    height: 25rem;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}
.image_section{
    display: flex;
        flex-direction: row;
        width: 100%;
}
.Vertical_image {
  display: flex;
  flex-direction: column;
  width: 20%;
height:350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.small__image{
  width: 140px;
  min-height: 85px;
  max-height: 85px;

  padding: 1% 40% 1% 1%;
  margin: 1%;
}
.small__image:hover{
  border:2px solid #2874F0;
}
.highLighted__image{
    width: 80%;
}
.highLighted__image img{
 max-height: 300px; min-height: 300px;
  width: 90%;
  margin: 1% ;
  
}
.detail_section_product{
  width: 55%;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  background-color: #ffff;
  overflow: auto;
}
.highLighted__image  .btn_SelectedProduct{
  display: flex;
  justify-content: space-evenly;    width: 93%;
  margin:4% auto;
  }
  .btn_SelectedProduct .BtnButton{
width: 50%;
margin: 1%;
color: #ffff;
font-weight: 500;
  }
  .btnIcon{
    margin-bottom: 2%;
  }
  .product-card__desc,
  .product-card__brand {
    margin: 0.2rem 0;
    font-size: 1rem;
  }
  .spePrice,.spanDis,.tag{
    color: green;
  }
  .spanDis{
    font-size:1rem ;
  }
  .product-card__desc {
    font-weight: normal;
  }
  .rating{
    border-radius: 12px!important;
    padding: 1px 2px !important;
    font-size: 14px !important;
    margin: 0 3px !important;
  }
.starIcon{
  margin-bottom: 10%;
}
.ratingSpan{
  color: gray;
}
   .cardText strong{
padding: 0 5px;
   }
   .delivery-Details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   }
   del{
    padding: 0 10px;
  color: gray;
   }
   
   .iconBtnCash{
    border-radius: 18px !important;
    width: 20px  !important;
    height: 22px  !important;
    /* text-align: unset; */
    padding: 0  !important;
   }
   .SingleProductInput{
    width:100%;
    padding: 2%;
border-color:0.5px gray;  }