.imageFlex{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background: #FFFFFF;
}
.imageFlex img{
    width: 33.3% !important;
    height: 25% !important;
    padding: 5px 5px 0px 5px ;
}