
 .loader{
    top: 50%;
    right: 50%;
    left: 50%;
    position: fixed;
    z-index: 100;} 
/* 
    .spinner-border{
        display: block;
        position: fixed;
        top: calc(50%-(58px/2));
        right: calc(50%-(58px/2));
    }
    #backdrop{
        position: absolute;
        top: 0;
        width: 10vw;
        height: 10vh;
        z-index: 999;
        background-color: black;
    } */