*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    margin: auto;
    background-color:rgb(251, 248, 248);
    border: 1px solid black;
}
.first-india{
    font-size: 7rem;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    line-height: 100px;
}
.flex-h3{
    display: flex;
    justify-content: space-evenly;
}
.heading-3-newsPaper{
    word-spacing: 2px;
    text-transform: uppercase;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:rgb(246 246 250);
}
.header{
    padding: 5px;
    width: 210px;
    height: 115px;
    margin: 10px 6px;
    background-color: aliceblue;
word-wrap: break-word;
text-align: justify;
}
.header-100th{
    font-size: 2rem;
    word-wrap: break-word;
    width: 20%;
    font-weight: 900;
    padding: 8px;
    text-align: end;
}
 .title{
    
    padding: 5px 25px;
    text-transform: uppercase;
    line-height: 66px;
    font-size: 4.5rem;
    text-align: center;
    word-break: break-word;
}

/* ul tag start */
.ul,.center-part{
    display: flex;
padding: 5px;
}
.ul{
    width: 100%;
    font-size: 1.5rem;
    word-wrap: break-word;
    padding: 5px 20px;
}
.li{
    padding:1px 32px 0 10px;
    text-transform: uppercase;
    list-style-image:url("./circle-solid.svg") ;
}
.Vikram-img{
background-color: rgb(251, 248, 248);
 padding-left:1%;

}
.first-para,.second-para,.third-para,.forth-para,.fifth-para,.sixth-para,.seventh-para,.eighth-para{
    text-indent: 5%;
    /* word-wrap: break-word; */
    text-align: justify;
    padding: 1%;
}
.display-inline-block{
    display: inline-block;
    width: 25%;
    border-top: 1px solid;
}
 .thirth-para , .sixth-para,.seventh-para, .second-para{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
} 
.img-second{
    width: 100%;
}
.t{
    font-size: 5rem;
}
.last-para{
    display: flex;
    
}
.ninth-para,.tenth-para{

}
 .title1{
    padding: 5px 10px;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 2.5rem;
    text-align: center;
    word-break: break-word;
}
.last-para div{
    width: 100%;
    height: 70vh;
    padding: 1%;
    border: 1px double black;
    overflow: auto;
    margin: 1%;
}
hr{
    margin: 1% 0;
}