*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footerUl{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.FooterSide{
    position: fixed;
    bottom: 10%;
    width: 100%;
}
.liTagFooter{
    padding:0 1.5rem;
    font-weight: 700;
    color: gray;
}