* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
}

#header {
  background-color: #ffffff;
  position: sticky;
  width: 100%;
  z-index: 50;
  top: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
  align-items: center;
  width: 80%;
  margin: auto;
}
.header-img {
  width: 30%;
}
.header-img img {
  width: 50%;
  height: 3rem;
}
.btn {
  text-transform: capitalize;
  padding: 2% 4%;
  border-radius: 6rem;
  margin: 3% 3.5%;
  font-size: 100%;
  font-weight: 900;
  border: none;
  outline: none;
}
.btn-0 {
  background-color: #cae2e4;
  border: 2px solid #2b434a;
  color: #2b434a;
}

.btn-1 {
  border: 2px solid #cae2e4;
  background-color: #f6f8f8;
  color: #2b434a;
}
.header-section .anchor-coaches .btn-1:hover{
  border: 2px solid #2b434a;
  background-color: #cae2e4;
}
.btn-2 {
  background-color: #ff8672;
  color: #ffffff;
}
.header-last-btn .anchor-get-Start .btn-2:hover ,.header-last-btn .anchor-Login .btn-2:hover, .main-first-section a button:hover, .btn-section a button:hover   {
  background-color: #2b434a;

}
.header-section {
  width: 35%;
}
/* main-section */
main {
  background-color: #f8f7f6;
}
#main-section {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 3%;
}
.main-first-section,
.main-second-section {
  width: 50%;
}
.main-first-section h1 {
  padding: 15% 3% 3% 0%;
  color: #2b434a;
  font-size: 3rem;
}
.main-first-section p {
  padding: 3% 3% 3% 0%;
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: #7b7272;
}
.main-first-section button {
  padding: 2% 6%;
  border-radius: 5rem;
  margin: 3% 2%;
  color: #ffffff;
  background-color: #ff8672;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 1.1rem;
}
.main-second-section {
  border-radius: 0% 25% 0% 25%;
  background-color: #ff8672;
  width: 50%;
  height: 60vh;
  position: relative;
}
.main-img-1 {
  transform: rotate(3deg);
  position: absolute;
  top: 0%;
  width: 55%;
  left: 21%;
  height: 44%;
}

.main-img-2 {
  transform: rotate(-5deg);
  position: absolute;
  top: 8%;
  left: 1%;
  width: 38%;
}
.main-img-3 {
  transform: rotate(2deg);
  position: absolute;
  top: 37%;
  left: -9%;
  width: 51%;
}
.main-img-4 {
  position: absolute;
  top: -4%;
  left: 45%;
  width: 22%;
  transform: rotate(21deg);
}
.main-img-5 {position: absolute;
  top: 4%;
  width: 80%;
  right: -11%;
  transform: rotate(9deg);
}
.main-img-6 {
  transform: rotate(36deg);
  position: absolute;
  top: -6%;
  right: 5%;
  width: 50%;
}
.main-img-7 {
  position: absolute;
  top: 28%;
  left: 16%;
  width: 65%;
  filter: opacity(0.3);
}
.main-img-8 {
  transform: rotate(35deg);
  position: absolute;
  top: 30%;
  right: -11%;
  width: 50%;
  height: 59%;
}
.main-img-9 {
  position: absolute;
  top: 49%;
  right: 8%;
  width: 40%;
  height: 48%;
}
.main-img-10 {
  position: absolute;
  width: 39%;
  left: 23%;
  top: 28%;
}
.center-div {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1.3rem;
}
.center-div .qoute {
  font-size: 5rem;
  font-weight: 900;
  color: #c89721;
  height: 4.5rem;
}
.center-div .para {
  font-size: 1.5rem;
  color: #7b7272;
  line-height: 2.1rem;
}
.inner-section {
  display: flex;
  width: 25%;
  margin: auto;
  padding-top: 2%;
}
.inner-section img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.img-description-para {
  text-align: start;
  padding: 0% 7%;
}
.amir {
  color: #c89721;
}
.Co-Founder {
  color: #7b7272;
}
/* box-center-elements */
.box-center-elements {
  width: 100%;
  padding-top: 7%;
}
.third-para {
  border-radius: 0% 25% 0% 25%;
  background-color: #f4efe5;
  width: 50%;
  height: 75vh;
  margin: auto;
  padding: 3%;
}
.third-para h1 {
  color: #2b434a;
  line-height: 3rem;
}
.third-para ul li {
  color: #7b7272;
  line-height: 2rem;
  list-style-type: none;
}
ul li::before {
  content: ".";
  color: #ff8672;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  font-size: 2.5rem;
}
.btn-section {
  width: 15%;
  margin: auto;
  padding-top: 3%;
}
.button {
  text-transform: capitalize;
  padding: 6% 20%;
  border-radius: 6rem;
  background-color: #ff8672;
  color: #ffffff;
  font-size: 100%;
  font-weight: 900;
  border: none;
  outline: none;
}
.div-forth h1 {
  text-align: center;
  color: #2b434a;
  padding: 3% 0;
  font-weight: 900;
}
#imgSectionBtm{
  display: flex;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  /* background-color: #ff8672; */
}
.imgSectionBottom{
  padding: 1% 0 0 1% ;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;

}

.imgSectionBottom:hover{
  filter: brightness(0.5);
}
.imgSection{
  animation: imgSection 5s ease-in-out 0s  normal;
  width: 50%;

}
@keyframes imgSection {
  from{
    padding: 50%;
    width: 45% ;

}
to{
  padding: 0%;
    width: 50% ;

}
}
.imgSectionBtm{
  animation: imgSectionBtm 5s ease-in-out 0s  normal;
  width: 33.3%;
}
@keyframes imgSectionBtm {
  from{ padding: 50%;
    width:29% ;

}
to{
    width: 33.3% ;
    padding: 0%;

}
}
footer {
  width: 100%;
}
.footer-section-posi{
  position: relative;
    top: 17rem;
}
.footer-section{
  display: flex;
  margin-left: 10%;
color: #ffffff;
  width: 80%;
  justify-content: space-between;
}
.para-footer{
  font-size: 0.7rem;
  width: 40%;
}
.para-footer span{
  padding: 0 2%;
  text-align: center;
}
.para-footer p{
  padding-top: 3%;
  text-align: center;
}
.icon{
  width: 20%;
  font-size: 1.3rem;
}
.icon a i{
  padding: 1%;
  width: 20%;
  color: #ffffff;
}
.icon a i:hover{
color: #2b434a;}
.wave {
 width: 100%;
} 
.bg-footer{
  background-color: #FF8672;
    height: 15vh;
    margin-top: -1%;
}