
.footerSideBar {
  background-color: #212121;
  width: 100%;
  color: #ffffff;  display: flex;
  flex-direction: row;  
}
.ulTagFooterSide {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 60%;
  margin: 0;
  color: #878787;
}
.ulFooterSide{
  padding-left: 0 !important;
  list-style: none;

}
.liFooterSide{
  color: #F8FFFF;
}
.liItemsFooterSide {
  width: 100%;
  padding: 3%;
}
.footerRightSideAddress{
  width: 40%;display: flex;
  flex-direction: row;    padding: 1%;  
}
.heading{
  color: #878787; padding: 4% 1% 1% 1%;  
}
.FooterPara{
  padding: 1%;
}
.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  background-color: #212121;
  color: #ffffff;
  width: 100%;

}
.ulTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 45%;
  margin: 0;
}
.listItems {
  width: 100%;
}
.footerAddress{
  border-left: 1px solid #878787;
  padding: 1% 1%;height: 98%;
}
.para-footer {
  width: 25%;
  padding: 1%;
}
.imageFooterBar,.imageSocialIcon{
  padding: 1%;
}
.span{
  color: #266BE9;
}